.button {
  padding: 15px 45px;
  background: $color-primary;
  border-radius: 100px;
  font-family: 'Tinos', 'Georgia', serif;
  font-size: 17px;
  line-height: 130%;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.09em;
  color: $color-dark-3xl;
  transition: all 0.3s;
  &:hover {
    background: $color-primary-light;
    cursor: pointer;
  }
}