.footer {
  height: 350px;
  padding-top: 40px;
  background:url('../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),#211F20;
  font-family: 'Tinos', 'Georgia', serif;
}

.footer__wrapper {
  @extend %display-flex;
  align-items: start;

}
.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 280px;
  height: 234px;
  margin-top: 16px;
}

.footer__adress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 302px;
  height: 234px;
  margin-top: 16px;
}

.footer__title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.09em;
  color: $color-light-xl;
}

.footer__item {
  display: block;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.09em;
  color:$color-primary;
  background-repeat: no-repeat;
  padding: 6px 0px 6px 60px;
  transition: all 0.3s;
  &:hover {
    color: $color-primary-light;
  }
}

.footer__email {
  background-image: url(../assets/icons/icon-email.svg);
}
.footer__tel {
  background-image: url(../assets/icons/phone.svg);
}

.footer__boston {
  background-image: url(../assets/icons/icon-marker.svg);
  padding: 6px 0px 6px 44px;
}

.footer__london {
  background-image: url(../assets/icons/icon-marker.svg);
  padding-left: 44px;
}
