.friends {
  background: $color-light-l;
}

.friends__tittle {
  max-width: 400px;
  margin: auto;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 60px;
}
.slider {
  @extend %display-flex;
  height: 435px;
  margin-bottom: 60px;
}
.slider__btn {
  @extend %display-flex;
  justify-content: center;
  width: 52px;;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  &:hover {
    background: $color-primary-light;
    border-color: $color-primary-light;
  }
}

.slider__cards {
  @extend %display-flex;
  gap: 90px
}
.card {
  display: flex;
  flex-direction: column;
  align-items:center;
 // justify-content: space-around;
  gap: 30px;
  width: 270px;
  height: 435px;
  background: $color-light-s;
  border-radius: 9px;
  &:hover {
    cursor: pointer;
    background: darken($color-light-s, 20%);
    .card__button {
      background-color: $color-primary-light;
      border: 2px solid $color-primary-light;
    }
  }
}
.card__img {
  width: 270px;
  height: 270px;
  //margin-bottom: 30px;
}
.card__title {
  @extend %fontGeorgia;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

.card__button {
  background-color: transparent;
  border: 2px solid $color-primary;
  &:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
  }
}

.friends__button {
  display: block;
  margin: auto;
}
