.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  //background-color: #5B483A;
}

.header__wrapper {
  @extend %display-flex;
}

.logo__title {
  margin-bottom: 10px;
  font-family: 'Tinos','Georgia';
  //font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.08em;
  color: $color-primary;
  transition: all 0.3s;
  &:hover {
    color: $color-primary-light;
    //font-size: 33px;
  }
}

.logo__descr {
  font-family: 'Arimo', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.12em;
  color: $color-light-xl;
}
.nav {
}
.nav__list {
  @extend %display-flex;
}
.nav__item {
  margin-left: 36px;
}
.nav__link {
  font-family: 'Arimo', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-s;
  transition: all 0.3s;
  &:hover {
    color: $color-light-s;

  }
}

.link-active {
  color: $color-light-s;
  border-bottom: 2px solid $color-primary;
  cursor: auto;
}