.our-freinds {
  height: 1342px;
  margin-top: 120px;
  background: $color-light-l;
  @include medium-scrin {
    height: 1733px;
  }
}

.friends__tittle {
  max-width: 400px;
  margin: auto;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 60px;
  @include medium-scrin {
    margin-bottom: 30px;
  }

}
.slider__wrapper {
  @extend %display-flex;
  margin-top: 15px;
  margin-bottom: 15px;
  }

  .slider__cards {
    @extend %display-flex;
    column-gap: 40px;
    row-gap: 30px;
    margin-bottom: 60px;
    @include medium-scrin  {
      justify-content: center;
      margin-bottom: 45px;
    }
  }

.card {
  display: flex;
  flex-direction: column;
  align-items:center;
 // justify-content: space-around;
  gap: 30px;
  width: 270px;
  height: 435px;
  background: $color-light-s;
  border-radius: 9px;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
   // background: darken($color-light-s, 20%);
    .card__button {
      background-color: $color-primary-light;
      border: 2px solid $color-primary-light;
    }
  }
}

.last-card {
  @include medium-scrin {
    display: none;
  }
}

.card__img {
  width: 270px;
  height: 270px;
  //margin-bottom: 30px;
}

.card__button {
  background-color: transparent;
  border: 2px solid $color-primary;
  &:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
  }
}

.slider__btns {
  @extend %display-flex;
  justify-content: space-between;
  gap: 20px;
  margin: auto;
  max-width: 340px;
}

.slider__btn {
  @extend %display-flex;
  justify-content: center;
  width: 52px;;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  @extend %fontGeorgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $color-dark-xl;
}

.btn__disabled {
  border-color: $color-dark-s;
  &:hover {
    cursor:auto;
  }
}

.btn__active {
  background: $color-primary;
  border-color: $color-primary;
  &:hover {
    cursor:auto;
  }
}

.btn__forward {
  &:hover {
    background: $color-primary;
    border-color: $color-primary;
  }
}