.start {
  font-family: 'Tinos', 'Georgia', serif;
  padding-top: 180px;
  height: 908px;
  padding-bottom: 243px;
  background:url('../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),#211F20;
  @include medium-scrin {
    padding-top: 150px;
    height: 1165px;
  }
}
.start__wrapper {
  display: flex;
  justify-content: space-between;
  @include medium-scrin {
    flex-direction: column;
  }
}
.start__img {
  max-width: 698px;
  height: 728px;
  @include medium-scrin {
    position: relative;
    left: calc(50% - 569px/2 + 70px);
    bottom: 0px;
    width: 569px;
    height: 593px;
  }
}

.start__text {
  max-width: 460px;
  margin-top: 163px;
  @include medium-scrin {
    margin-top: 0;
    margin: auto;
  }

}
.start__title {
  font-family: 'Tinos', 'Georgia', serif;
  font-size: 44px;
  line-height: 130%;
  color: $color-light-xl;
  letter-spacing: 0.04em;
  margin-bottom: 42px;
  max-width: 310px;
}
.start__descr {
  font-family: 'Arimo', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: $color-light-xl;
  margin-bottom: 42px;
}

.start__btn-link {
  display: block;
  @include medium-scrin {
    text-align: center;
    margin-bottom: 100px;
  }
}
