$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s:  #FAFAFA;
$color-dark-s:  #CDCDCD;
$color-dark-m:  #B2B2B2;
$color-dark-l:  #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl:  #444444;
$color-dark-3xl: #292929;
$color-primary:  #F1CDB3;
$color-primary-light:#FDDCC4;


%fontArial {
  font-family: 'Arimo', 'Arial', sans-serif;
}

%fontGeorgia {
  font-family: 'Tinos', 'Georgia', serif;
}


%display-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


@mixin large-scrin () {
  @media (max-width: px) {
    @content;
  }
}

@mixin medium-scrin () {
  @media (max-width: px) {
    @content;
  }
}

@mixin small-scrin () {
  @media (max-width: px) {
    @content;
  }
}