@import 'null';
@import 'variables';
@import 'header';
@import 'start-section';
@import 'footer';
@import 'burger';
@import 'buttons';
@import 'about';
@import 'friends';
@import 'help';
@import 'donation';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arimo', 'Arial', sans-serif;
  font-family: 'Tinos', 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  background:url(../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
 // background-color: $color-light-l;
  color: $color-dark-xl;
}

img {
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 1280px;
  margin: auto;
  padding: 0 40px;
}

section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.section__title {
  @extend %fontGeorgia;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.09em;
  color: $color-dark-l;
}

.card__title {
  @extend %fontGeorgia;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: $color-dark-l;
}

