@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.about__text, .donation__descr {
  font-family: 'Arimo', 'Arial', sans-serif;
}

.donation__title, .donation__subtitle, .section__title, .card__title {
  font-family: 'Tinos', 'Georgia', serif;
}

.header__wrapper, .nav__list, .footer__wrapper, .slider, .slider__btn, .slider__cards, .credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__title {
  margin-bottom: 10px;
  font-family: 'Tinos','Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.08em;
  color: #F1CDB3;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.logo__title:hover {
  color: #FDDCC4;
}

.logo__descr {
  font-family: 'Arimo', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.12em;
  color: #FFFFFF;
}

.nav__item {
  margin-left: 36px;
}

.nav__link {
  font-family: 'Arimo', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__link:hover {
  color: #FAFAFA;
}

.link-active {
  color: #FAFAFA;
  border-bottom: 2px solid #F1CDB3;
}

.start {
  font-family: 'Tinos', 'Georgia', serif;
  padding-top: 180px;
  height: 908px;
  padding-bottom: 243px;
  background: url("../assets/images/noise_transparent@2x.png"), -webkit-radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background: url("../assets/images/noise_transparent@2x.png"), -o-radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background: url("../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.start__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start__img {
  max-width: 698px;
  height: 728px;
}

.start__text {
  max-width: 460px;
  margin-top: 163px;
}

.start__title {
  font-family: 'Tinos', 'Georgia', serif;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  letter-spacing: 0.04em;
  margin-bottom: 42px;
  max-width: 310px;
}

.start__descr {
  font-family: 'Arimo', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 42px;
}

.footer {
  height: 350px;
  padding-top: 40px;
  background: url("../assets/images/noise_transparent@2x.png"), -webkit-radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background: url("../assets/images/noise_transparent@2x.png"), -o-radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background: url("../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  font-family: 'Tinos', 'Georgia', serif;
}

.footer__wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 280px;
  height: 234px;
  margin-top: 16px;
}

.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 302px;
  height: 234px;
  margin-top: 16px;
}

.footer__title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.09em;
  color: #FFFFFF;
}

.footer__item {
  display: block;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.09em;
  color: #F1CDB3;
  background-repeat: no-repeat;
  padding: 6px 0px 6px 60px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__item:hover {
  color: #FDDCC4;
}

.footer__email {
  background-image: url(../assets/icons/icon-email.svg);
}

.footer__tel {
  background-image: url(../assets/icons/phone.svg);
}

.footer__boston {
  background-image: url(../assets/icons/icon-marker.svg);
  padding: 6px 0px 6px 44px;
}

.footer__london {
  background-image: url(../assets/icons/icon-marker.svg);
  padding-left: 44px;
}

.button {
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: 'Tinos', 'Georgia', serif;
  font-size: 17px;
  line-height: 130%;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.09em;
  color: #292929;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  background: #FDDCC4;
  cursor: pointer;
}

.about {
  min-height: 588px;
  background-color: #FFFFFF;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__img {
  max-width: 300px;
  height: auto;
  margin-right: 120px;
}

.about__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.about__content {
  max-width: 430px;
  margin-top: 14px;
}

.about-title {
  max-width: 370px;
  margin-bottom: 25px;
}

.about__text {
  font-size: 15px;
  line-height: 160%;
  margin-bottom: 25px;
}

.about__text:last-child {
  margin-bottom: 0;
}

.friends {
  background: #F6F6F6;
}

.friends__tittle {
  max-width: 400px;
  margin: auto;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 60px;
}

.slider {
  margin-bottom: 60px;
}

.slider__btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.slider__btn:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.slider__cards {
  gap: 90px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card:hover .card__button {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.card__img {
  width: 270px;
  height: 270px;
}

.card__button {
  background-color: transparent;
  border: 2px solid #F1CDB3;
}

.card__button:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.friends__button {
  display: block;
  margin: auto;
}

.help {
  padding-top: 80px;
  padding-bottom: 100px;
  background: #FFFFFF;
}

.help__title {
  margin: auto;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 60px;
}

.help__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 55px;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  max-width: 1026px;
  margin: auto;
}

.help__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__card-img {
  margin-bottom: 30px;
}

.donation {
  padding-top: 80px;
  padding-bottom: 100px;
  background: #F6F6F6;
}

.donation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation__img {
  width: 505px;
  height: 261px;
  margin-right: 30px;
}

.donation__content {
  width: 380px;
}

.donation__title {
  max-width: 300px;
  margin-bottom: 20px;
  color: #545454;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.1em;
}

.donation__subtitle {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.1em;
  color: #545454;
  margin-bottom: 20px;
}

.donation__link {
  display: block;
}

.credit {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  margin-bottom: 20px;
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.credit:hover {
  background: #FDDCC4;
  cursor: pointer;
}

.donation__descr {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.footer {
  height: 350px;
  padding-top: 40px;
  background: url("../assets/images/noise_transparent@2x.png"), -webkit-radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background: url("../assets/images/noise_transparent@2x.png"), -o-radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background: url("../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  font-family: 'Tinos', 'Georgia', serif;
}

.footer__wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 280px;
  height: 234px;
  margin-top: 16px;
}

.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 302px;
  height: 234px;
  margin-top: 16px;
}

.footer__title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.09em;
  color: #FFFFFF;
}

.footer__item {
  display: block;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.09em;
  color: #F1CDB3;
  background-repeat: no-repeat;
  padding: 6px 0px 6px 60px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__item:hover {
  color: #FDDCC4;
}

.footer__email {
  background-image: url(../assets/icons/icon-email.svg);
}

.footer__tel {
  background-image: url(../assets/icons/phone.svg);
}

.footer__boston {
  background-image: url(../assets/icons/icon-marker.svg);
  padding: 6px 0px 6px 44px;
}

.footer__london {
  background-image: url(../assets/icons/icon-marker.svg);
  padding-left: 44px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arimo', 'Arial', sans-serif;
  font-family: 'Tinos', 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  background: url(../assets/images/noise_transparent@2x.png), -webkit-radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background: url(../assets/images/noise_transparent@2x.png), -o-radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background: url(../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  color: #4C4C4C;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 40px;
}

section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.section__title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.09em;
  color: #545454;
}

.card__title {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #545454;
}
