@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.about__text {
  font-family: 'Arimo', 'Arial', sans-serif;
}

.section-title {
  font-family: 'Tinos', 'Georgia', serif;
}

.header__wrapper, .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__title {
  margin-bottom: 10px;
  font-family: 'Tinos','Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.08em;
  color: #F1CDB3;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.logo__title:hover {
  color: #FDDCC4;
}

.logo__descr {
  font-family: 'Arimo', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.12em;
  color: #FFFFFF;
}

.nav__item {
  margin-left: 36px;
}

.nav__link {
  font-family: 'Arimo', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__link:hover {
  color: #FAFAFA;
}

.link-active {
  color: #FAFAFA;
  border-bottom: 2px solid #F1CDB3;
}

.start {
  font-family: 'Tinos', 'Georgia', serif;
  padding-top: 180px;
  height: 908px;
  padding-bottom: 243px;
  background: url("../assets/images/noise_transparent@2x.png"), -webkit-radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background: url("../assets/images/noise_transparent@2x.png"), -o-radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background: url("../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.start__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start__img {
  max-width: 698px;
  height: 728px;
}

.start__text {
  max-width: 460px;
  margin-top: 163px;
}

.start__title {
  font-family: 'Tinos', 'Georgia', serif;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  letter-spacing: 0.04em;
  margin-bottom: 42px;
  max-width: 310px;
}

.start__descr {
  font-family: 'Arimo', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 42px;
}

.button {
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: 'Tinos', 'Georgia', serif;
  font-size: 17px;
  line-height: 130%;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.09em;
  color: #292929;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  background: #FDDCC4;
  cursor: pointer;
}

.about {
  min-height: 588px;
  background-color: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 100px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__img {
  max-width: 300px;
  height: auto;
  margin-right: 120px;
}

.about__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.about__content {
  max-width: 430px;
  margin-top: 14px;
}

.section-title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: #545454;
  margin-bottom: 25px;
}

.about-title {
  max-width: 370px;
}

.about__text {
  font-size: 15px;
  line-height: 160%;
  margin-bottom: 25px;
}

.about__text:last-child {
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arimo', 'Arial', sans-serif;
  font-family: 'Tinos', 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  background: url(../assets/images/noise_transparent@2x.png), -webkit-radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background: url(../assets/images/noise_transparent@2x.png), -o-radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background: url(../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  color: #4C4C4C;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 40px;
}
